body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
}

nav {
  overflow: hidden;
  background-color: #1c1c1c;
  border-radius: 0px 0px 10.5px 10.5px
}

nav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 15.5px;
}

nav a:hover {
  background-color: #0f0f0f;
  color: #ffffff;
  transition: 1.5s;
}

nav a.active {
  background-color: #4c24ff;
  color: white;
}

nav a.active:hover {
  background-color: #2f00ff;
  color: white;
  transition: 1.5s;
}

nav .icon {
  display: none;
}

@media screen and (max-width: 555px) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 555px) {
  nav.responsive {position: relative;}
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
input[type=text] {
  width: 52.5%;
  padding: 20px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px black;
  border-radius: 10px;
  background-color: #141414;
  color: white;
  
}
#card1, #card2, #card3, #card4 {
  background-color: #3d7eff;
  text-align: center;
  floating: center;
  width: 5.5%;
  height: 150px;
  color: white;
  padding: 4.5rem;
  border-radius: 5.5px;
    transition: 0.5s;
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover{
  background-color:  #004be0;
  cursor: pointer;
  transition: 0.5s;
}
#featured {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  display: flex;
flex-direction: row;
  justify-content: center;
}