@import "../navbar.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
}

@media screen and (max-width: 555px) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 555px) {
  nav.responsive {position: relative;}
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
#card1, #card2, #card5, #card6 {
  outline: 3.5px solid #004be0;
  floating: center;
  width: 5.5%;
  height: 150px;
  color: white;
  padding: 4.5rem;
    transition: 0.2s;
  text-align: center;

/* put all fnf mods div ids to this */
}
#card3, #card4 {
  outline: 3.5px solid #ffc800;
  floating: center;
  width: 5.5%;
  height: 150px;
  color: white;
  padding: 4.5rem;
    transition: 0.2s;
  text-align: center;
}
#card3:hover, #card4:hover {
  background-color: #ffc800;
  cursor: pointer;
  transition: 0.2s;
}

/* ends of fnf mods */

#card1:hover, #card2:hover, #card5:hover, #card6:hover {
  background-color:  #004be0;
  cursor: pointer;
  transition: 0.2s;
}
#theg4mes {
  margin-left: 185px;
  margin-top: 45.5px;
  max-width: 1000px;
  margin: 10 auto;
  display: grid;
  grid-gap: 1rem;
  display: flex;
flex-direction: row;
  justify-content: center;
}
p {
  color: white;
}

#card6 img {
  width: 300px;
  height: 160px;
  margin: -136px;
  margin-top: 45px;
  margin-right: 10px;
}

#card5 img {
  width: 150px;
  height: 150px;
  margin: -50px;
  margin-top: 30px;
  margin-right: 10px;
}

#card4 img {
  width: 145px;
  height: 140px;
  margin: -50px;
  margin-top: 10px;
  margin-right: 10px;
}

#card3 img {
  width: 150px;
  height: 150px;
  margin: -50px;
  margin-top: 50px;
  margin-right: 10px;
}

#card2 img {
  width: 150px;
  height: 150px;
  margin: -50px;
  margin-top: 25px;
  margin-right: 10px;
}

#card1 img {
  width: 175px;
  height: 150px;
  margin: -60px;
  margin-top: 10px;
  margin-right: 10px;
}